
@font-face {
    font-family: 'Bluzzelle';
    src:  url('../fonts/Bluzzelle.eot?wldgtl');
    src:  url('../fonts/Bluzzelle.eot?wldgtl#iefix') format('embedded-opentype'),
    url('../fonts/Bluzzelle.ttf?wldgtl') format('truetype'),
    url('../fonts/Bluzzelle.woff?wldgtl') format('woff'),
    url('../fonts/Bluzzelle.svg?wldgtl#Bluzzelle') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Bluzzelle' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-successful-ico-icon:before {
    content: "\e939";
    color: #fdba4d;
}
.icon-innovating-icon:before {
    content: "\e93a";
    color: #fff;
}
.icon-ethereum:before {
    content: "\e93b";
    color: #fdba4d;
}
.icon-international-banks-icon:before {
    content: "\e93c";
    color: #fdba4d;
}
.icon-mobile-ethereum-icon:before {
    content: "\e93d";
    color: #fdba4d;
}
.icon-number-sold-icon:before {
    content: "\e93e";
    color: #fdba4d;
}
.icon-discord:before {
    content: "\e93f";
    color: #fdba4d;
}
.icon-youtube:before {
    content: "\e940";
    color: #fdba4d;
}
.icon-telegram:before {
    content: "\e941";
    color: #fdba4d;
}
.icon-seed-financing-icon:before {
    content: "\e942";
    color: #fdba4d;
}
.icon-singapore:before {
    content: "\e943";
    color: #fda517;
}
.icon-Slack-logo .path1:before {
    content: "\e930";
    color: rgb(223, 162, 47);
}
.icon-Slack-logo .path2:before {
    content: "\e931";
    margin-left: -1em;
    color: rgb(60, 177, 135);
}
.icon-Slack-logo .path3:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(206, 30, 91);
}
.icon-Slack-logo .path4:before {
    content: "\e933";
    margin-left: -1em;
    color: rgb(57, 37, 56);
}
.icon-Slack-logo .path5:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(187, 36, 42);
}
.icon-Slack-logo .path6:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(114, 197, 205);
}
.icon-Slack-logo .path7:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(35, 140, 115);
}
.icon-Slack-logo .path8:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(98, 128, 58);
}
.icon-conference:before {
    content: "\e91a";
    color: #fff;
}
.icon-icons8-library:before {
    content: "\e913";
    color: #fdba4d;
}
.icon-icons8-us_dollar:before {
    content: "\e914";
    color: #fdba4d;
}
.icon-noun_574653_cc:before {
    content: "\e928";
    color: #fff;
}
.icon-noun_991952_cc:before {
    content: "\e929";
    color: #fdba4d;
}
.icon-noun_1248859_cc:before {
    content: "\e92a";
    color: #fdba4d;
}
.icon-noun_1493925_cc:before {
    content: "\e92b";
    color: #fdba4d;
}
.icon-noun_1585330_cc:before {
    content: "\e92c";
    color: #fdba4d;
}
.icon-Ripple_logo:before {
    content: "\e92d";
    color: #fda517;
}
.icon-Shape:before {
    content: "\e92e";
    color: #fff;
}
.icon-slack:before {
    content: "\e937";
    color: #fff;
}
.icon-right-arrow:before {
    content: "\e900";
    color: #fdba4d;
}
.icon-symbol .path1:before {
    content: "\e901";
    color: rgb(253, 186, 77);
}
.icon-symbol .path2:before {
    content: "\e902";
    margin-left: -0.9755859375em;
    color: rgb(253, 186, 77);
}
.icon-symbol .path3:before {
    content: "\e903";
    margin-left: -0.9755859375em;
    color: rgb(253, 186, 77);
}
.icon-symbol .path4:before {
    content: "\e904";
    margin-left: -0.9755859375em;
    color: rgb(253, 186, 77);
}
.icon-symbol .path5:before {
    content: "\e905";
    margin-left: -0.9755859375em;
    color: rgb(93, 169, 221);
}
.icon-symbol .path6:before {
    content: "\e906";
    margin-left: -0.9755859375em;
    color: rgb(93, 169, 221);
}
.icon-symbol .path7:before {
    content: "\e907";
    margin-left: -0.9755859375em;
    color: rgb(93, 169, 221);
}
.icon-symbol .path8:before {
    content: "\e908";
    margin-left: -0.9755859375em;
    color: rgb(93, 169, 221);
}
.icon-symbol .path9:before {
    content: "\e909";
    margin-left: -0.9755859375em;
    color: rgb(24, 87, 140);
}
.icon-symbol .path10:before {
    content: "\e90a";
    margin-left: -0.9755859375em;
    color: rgb(24, 87, 140);
}
.icon-symbol .path11:before {
    content: "\e90b";
    margin-left: -0.9755859375em;
    color: rgb(24, 87, 140);
}
.icon-symbol .path12:before {
    content: "\e90c";
    margin-left: -0.9755859375em;
    color: rgb(24, 87, 140);
}
.icon-symbol .path13:before {
    content: "\e90d";
    margin-left: -0.9755859375em;
    color: rgb(24, 87, 140);
}
.icon-symbol .path14:before {
    content: "\e90f";
    margin-left: -0.9755859375em;
    color: rgb(24, 87, 140);
}
.icon-symbol .path15:before {
    content: "\e910";
    margin-left: -0.9755859375em;
    color: rgb(24, 87, 140);
}
.icon-symbol .path16:before {
    content: "\e911";
    margin-left: -0.9755859375em;
    color: rgb(24, 87, 140);
}
.icon-symbol .path17:before {
    content: "\e912";
    margin-left: -0.9755859375em;
    color: rgb(24, 87, 140);
}
.icon-logo-white:before {
    content: "\e915";
    color: #fff;
}
.icon-close:before {
    content: "\e916";
    color: #fff;
}
.icon-hive-3:before {
    content: "\e917";
    color: #fdba4d;
}
.icon-hive-2:before {
    content: "\e918";
    color: #fdba4d;
}
.icon-hive-1:before {
    content: "\e919";
    color: #fdba4d;
}
.icon-dev:before {
    content: "\e91d";
    color: #fff;
}
.icon-blz-token:before {
    content: "\e91b";
    color: #fff;
}
.icon-database:before {
    content: "\e91c";
    color: #fff;
}
.icon-play-hover:before {
    content: "\e92f";
    color: #fdba4d;
}
.icon-play:before {
    content: "\e91e";
    color: #fdba4d;
}
.icon-quote:before {
    content: "\e91f";
    color: #5da9dd;
}
.icon-bluezelle-wordmark:before {
    content: "\e920";
    color: #18578c;
}
.icon-Twitter:before {
    content: "\e921";
    color: #18578c;
}
.icon-reddit .path1:before {
    content: "\e922";
    color: rgb(0, 0, 0);
}
.icon-reddit .path2:before {
    content: "\e923";
    margin-left: -1.23046875em;
    color: rgb(0, 0, 0);
}
.icon-reddit .path3:before {
    content: "\e924";
    margin-left: -1.23046875em;
    color: rgb(24, 87, 140);
}
.icon-send-message-icon:before {
    content: "\e925";
    color: #18578c;
}
.icon-medium-icon:before {
    content: "\e926";
    color: #18578c;
}
.icon-github-logo:before {
    content: "\e927";
    color: #18578c;
}
.icon-skyrocket-logo:before {
    content: "\e90e";
    color: #e6244a;
}
.icon-ctrl:before {
    content: "\ea50";
}


