.line-cards-block {
    margin-left: 16px;
    margin-bottom:140px;
    position: relative;
    @include breakpoint(medium down) {
        margin-bottom: 80px;
        margin-left: 0;
    }
    &-container {
        padding-top: 80px;
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        background: $blue-gradient;
        min-height: 700px;
        .section-title {
            @include breakpoint(medium down) {
                margin-bottom: 50px;
            }
        }
    }
    &-wrap {
        display: flex;
        position: absolute;
        width: 100%;
        max-width: 75rem;
        top:250px;
        right: 16px;
        @include breakpoint(1265 down) {
            position: static;
        }
        @include breakpoint(medium down) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 78px;
        }
    }
}

.bg-title {
    &.--line-cards-block {
        position: relative;
        bottom: -90px;
        color: $blue-light;
    }
}

.line-cards__card.--line-cards-block {
    padding: 40px;
    @include breakpoint(medium down) {
        padding: 32px;
    }
}


