.newsletter {
    padding-top: 40px;
    padding-bottom: 50px;
    z-index:10;
    @include breakpoint(medium down) {
        padding: 44px 0;
    }
    &__title {
        color: #333333;
        font-size: 28px;
        font-weight: 300;
        letter-spacing: 0.07px;
        line-height: 40px;
        font-family: $source-sans;
        margin-bottom: 18px;
        @include breakpoint(medium down) {
            font-size: 24px;
            line-height: 24px;
            font-weight: 400;
        }
    }
    &__subtitle {
        color: #333333;
        font-family: $source-sans;
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 18px;
        margin-bottom: 0;
        @include breakpoint(medium down) {
            font-size: 16px;
            line-height: 24px;
        }
        @include breakpoint(small only) {
            margin-bottom: 32px;
        }
    }
    &__form {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @include breakpoint(medium down) {
            flex-direction: column;
            align-items: flex-start;
        }
        &-label {
            width: 360px;
            margin-right: 60px;
            @include breakpoint(medium down) {
                width: 100%;
                margin-bottom: 18px;
            }
            input {
                padding: 6px 14px;
            }
        }
        &-btn {
            cursor: pointer;
        }
    }
}

#mc-embedded-subscribe {
    margin: 0;
}

.newsletter__form-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @include breakpoint(medium down) {
        flex-direction: column;
        align-items: flex-start;
    }
}

#mc_embed_signup.--newsletter {
    max-width: 100%;
}